@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700');

body{
    text-align: center;
    font-family: 'Heebo';
    background-color: #EBECEE;
    font-size: 100%;
}

main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: inline-block;
  background-color: red;
}


img{
    width: 100%;
    height:auto;
}



.num{
    font-size: 4em;
    color: #2A3440;
    font-weight: 900;

}

.text1{
    color: #737782;
    font-size: 2em;
}

.text2{
    color: #737782;
    font-size: 1em;
    margin-top: 25px;
}

.text{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: blue;
    width: 100%;
    /* float: right; */
}

.btn{
    text-transform: uppercase;
    color: white;
    background-color: #6A6F85;
    font-size: 2em;
    border: none;
    padding: 10px;
}

